body, html{
     height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;

}

h3 {
    margin-top: 10px !important;
}

.btn {
    margin-right: 5px;
    margin-left: 5px;
}

.checkbox, .radio {
    padding-left: 20px;
}

.__error {
    color: red;
}

.__underline {
    border-bottom: 1px solid black
}

.__HeadingMargins {
    margin-top: 20px;
    margin-bottom: 10px;
}

.navbar-nav > li > a > input {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
}

.__form-container {
    padding-right: 15px;
    padding-left: 15px;

    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.__form-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;
}

.__alternate-flow {
    padding-top: 30px;
}

.__blog {
    padding-left: 0px;
    padding-right: 0px;
    color: #373a3c;
    border-left: 3px solid #666; 
    border-right: 3px solid #666; 
    border-top: 3px solid #666;
}
.__blog-title {
    color: #373a3c;
    min-height: 49px;
    display: inline-block;
    padding-left:0px;
    padding-right: 0px;
}

.__blog-author {
    border-left: 3px solid #666; 
    border-right: 3px solid #666; 
    color: cadetblue;
}

.__blog-date {
    border-left: 1px solid #666; 
    border-right: 1px solid #666;
    padding-bottom: 10px;
    color: cadetblue; 
}

.__blog-text {
    border-left: 3px solid #666;
    border-right:  3px solid #666;
    border-bottom: 3px solid #666;
    border-top: 1px solid #666;
    padding-top: 10px;
    margin-bottom: 15px;
}

.__edit-delete-buttons {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 5px !important;
}

/***************************************************/
.__date-md {
    display: block;
    padding-right: 0;
    text-align: center;
    display: none;
  }

.date-wrapper {
  color: #1b1b1b;
  text-align: center;
  margin: 0 0 1em 0;
  padding: 0;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  min-width: 50px;
  font-weight: 400 !important;
  background: #F5F5F5;
}

.btn-secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #eea236;
}

.btn-secondary:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}