{% extends "BASE_TEMPLATE.html" %}

{% block content %}

    {% if blogs and blogs.count()>=1: %}
        {% for blog in blogs: %}
            <div class="clearfix">
                <div class="col-xs-12 __blog-title text-left">
                    <h3> {{ blog.title }}  
                        {% if user.name == blog.author: %}
                            <button class="btn btn-danger pull-right">    
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                Delete Blog
                            </button>
                            <button class="btn btn-info pull-right">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
                                Edit Blog
                            </button>
                        {% endif %}
                    </h3>   
                </div>
            </div>
            <div class="clearfix">
                <div class="col-xs-12 __blog-author text-left">
                    <h4 > By: {{ blog.author }}  </h3>   
                </div>
            </div>                  
            <div class="clearfix">
                <div class="col-xs-12 __blog-date text-left">
                    Created: {{(blog.created).strftime("%A, %d-%b-%Y")}}
                </div>
            </div> 
            <div class="clearfix __blog-text">
                <div class="col-xs-12">
                    <article>
                        {{ blog.blogText[:250] | safe }}
                        {% if blog.blogText|length > 150: %}
                            <a href="/blog/{{ blog.key().id() }}/">
                                <p class="pull-right"><button class="btn btn-primary ">Read more... 
                                </button></p>    
                            </a>
                        {% endif %}
                    </article>
                </div>
            </div>
        {% endfor %}
    {% else: %}
        <div class="clearfix">
            <div class="col-xs-12 text-center">
                <h3>No blogs yet!  Why not write a new blog here:
                <a href="/newpost">
                <input type="submit" value="New Blog" class="btn btn-primary">
                </a>
                </h3>
            </div>
        </div>
    {% endif %}
{% endblock %}


