{% extends "BASE_TEMPLATE.html" %}

{% block content %}

    {% if blogs and blogs.count()>=1: %}
        {% for blog in blogs: %}
            <div class="clearfix">
                <div class="col-xs-12 __blog">
                    <div class="col-xs-10 __blog-title pull-left" >
                        <h3> {{ blog.title }}  </h3>
                    </div> 
                        {% if user.name == blog.author: %}
                        <div class="col-xs-2 pull-right __edit-delete-buttons">
                        <a class="btn btn-info" href="/edit/{{ blog.key().id() }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                        <a class="btn btn-danger" href="/delete/{{ blog.key().id() }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </div>
                        {% endif %}
                      
                </div>
            </div>
            <div class="clearfix">
                <div class="col-xs-12 __blog-author text-left">
                    <div class="pull-left"><h6> By: {{ blog.author }}  </h6></div>
                    <div class="pull-right"><h6>Created: {{(blog.created).strftime("%A, %d-%b-%Y")}}<h6></div>   
                </div>
            </div>                  
            <div class="clearfix __blog-text">
                <div class="col-xs-12">
                    <article>
                        {{ blog.blogText[:250] | safe }}
                        {% if blog.blogText|length > 150: %}
                            <a href="/blog/{{ blog.key().id() }}/">
                                <p class="pull-right"><button class="btn btn-primary ">Read more... 
                                </button></p>    
                            </a>
                        {% endif %}
                    </article>
                </div>
            </div>
        {% endfor %}
    {% else: %}
        <div class="clearfix">
            <div class="col-xs-12 text-center">
                <h3>No blogs yet!  Why not write a new blog here:
                <a href="/newpost">
                <input type="submit" value="New Blog" class="btn btn-primary">
                </a>
                </h3>
            </div>
        </div>
    {% endif %}
{% endblock %}


