<!--
<!DOCTYPE html>
<html lang="en">
<head>
{% include "header.html" %}
</head>
<body>
    <div class="container">
        {% include "navbar.html" %} -->
{% extends "BASE_TEMPLATE.html" %}
{% block content %}
        {% if not blog: %}
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h3>No blogs yet!  Why not write a new blog here:
                    <a href="/newpost">
                    <input type="submit" value="New Blog" class="btn btn-primary">
                    </a>
                    </h3>
                </div>
            </div>
        {% else: %}
        <div class="row __underline">
            <div class="col-xs-8 text-left"><h3>{{blog.title}}</h3></div>
            <div class="col-xs-4 text-right __HeadingMargins">Created: {{blog.created}}</div>
        </div>
        <article>
        <div class="col-xs-12"><p>{{blog.blogText | safe }}</p></div>
        </article>
        {% endif %}
{% endblock %}
<!--    </div>
    {% include "footer.html" %}
</body>
</html> -->